@inherits ValidateComponent
@page "/auth/validate"

<Row>
    <Column ColumnSize="ColumnSize.Is4.OnDesktop.Is3.OnMobile">
        <Card Margin="Margin.Is4.FromBottom.Is5.FromLeft.Is5.FromTop">
            <CardHeader>
                <CardTitle>
                    Signing In
                </CardTitle>
                <CardSubtitle>
                    Please hang on...
                </CardSubtitle>
            </CardHeader>
            <CardBody>
                <ProgressGroup>
                    <ProgressBar IsStriped="true" IsAnimated="true" Value=@Progress />
                </ProgressGroup>
            </CardBody>
            <CardBody>
                <CardText>
                    @foreach (var message in Messages)
                    {
                        <p>@message</p>
                    }
                </CardText>
            </CardBody>
        </Card>
    </Column>
</Row>
