@inherits CrewSummaryComponent

@if (Crew == default)
{
    <span>Loading...</span>
}
else
{
    <div class="container container-rounded fadein-content">
        <h5>Crew</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Discipline
                    </th>
                    <th scope="col">
                        Expertise
                    </th>
                    <th scope="col">
                        Training
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var crew in Crew)
                {
                    <tr>
                        <td>@crew.Name</td>
                        <td>@crew.Discipline</td>
                        <td>@crew.Expertise</td>
                        <td>@crew.Training</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
