@inherits GamePlayersSummaryComponent

@if (Players == default)
{
    <span>Loading...</span>
}
else
{
    <div class="container">
        <h5>Players</h5>
        <table>
            <tbody>
                @foreach (var player in Players)
                {
                    <tr>
                        <td>@player.Name</td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick=@(() => { EditPlayer(player);})>Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
