@inherits MissionSummaryComponent

@if (Mission == default)
{
    <div class="fadein-content">No current mission.</div>
}
else
{
    <button type="button" class="btn btn-primary fadein-content" @onclick="@ResumeClicked">Resume</button>
}