@inherits MissionSummaryComponent

@if (Mission == default)
{
    <span>No current mission.</span>
}
else
{
    <button type="button" class="btn btn-primary" onclick=@ResumeClicked>Resume</button>
}