@inherits MothershipSummaryComponent

@if (Mothership == default)
{
    <div class="fadein-content">Loading...</div>
}
else
{
    <div class="container container-rounded fadein-content">
        <h5>@Mothership.Name</h5>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Revived</td>
                    <td>@Mothership.AvailableCrew</td>
                </tr>
                <tr>
                    <td>Fuel</td>
                    <td>@Mothership.RemainingFuel</td>
                </tr>
            </tbody>
        </table>
    </div>
}
