@inherits MothershipModuleSummaryComponent
@using RiftDrive.Shared.Model;

@if (Modules == null)
{
    <div class="fadein-content">Loading...</div>
}
else
{
    <div class="container container-rounded fadein-content">
        <h5>Mothership Modules</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Energy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var module in Modules)
                {
                    MothershipModule definition = MothershipModule.GetById(module.MothershipModuleId);
                    <tr>
                        <td>@definition.Name</td>
                        <td>@module.RemainingPower</td>
                        <td>
                            @foreach (var action in definition.Actions)
                            {
                                <button type="button" class="btn btn-primary" @onclick="@(async () => { await ModuleButtonClicked(module, action); })">@action.Name</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
