@inherits RaceEncounterComponent

@if (Mission == default)
{
    <div>Loading...</div>
}
else
{
    <div>
        <span>@Card?.Description</span>
        <ul>
            @foreach (var interaction in Card!.Interactions)
            {
                <li>@interaction.Description</li>
            }
        </ul>
    </div>
}