@inherits CreateGameComponent

@if ( CreatingGame ) {
    <form>
        <div class="form-group fadein-content">
            <label for="txtGameName">Game Name</label>
            <input type="text" class="form-control" id="txtGameName" placeholder="Game name" @bind="@GameName" />
        </div>
        <div class="form-group">
            <label for="txtPlayerName">Player Name</label>
            <input type="text" class="form-control" id="txtPlayerName" placeholder="Player name" @bind="@PlayerName" />

        </div>
        <button type="button" class="btn btn-primary" @onclick="@CreateGameClicked">Create</button>
    </form>
}
else 
{
    <button type="button" class="btn btn-primary fadein-content" @onclick="@ShowCreateClicked">Create</button>
}
