@inherits UserGamesComponent

@if (User == default)
{
    <span>Loading ...</span>
}
else
{
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col" colspan="2">
                    Games for @User.Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Games)
            {
                <tr>
                    <td>
                        @game.Name
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="@(() => { PlayGame(game.Id); })">
                            Play
                        </button>
                        <button type="button" class="btn btn-primary" onclick=@(async () => { await DeleteGame(game.Id); })>
                            Delete
                        </button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
}