@page "/"
@inherits IndexPageBase
@layout MainLayout
@using RiftDrive.Client.Pages.Components

@if (State.Authentication.IsAuthenticated)
{
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <UserGames User=@State.Authentication.User />
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>
}

