@inherits MainLayoutBase
@using RiftDrive.Client.Pages.Components

<div class="app-main">

    <NavBar User=@State.Authentication.User IsAuthenticated=@State.Authentication.IsAuthenticated />
    <div class="app-content">
        @Body
    </div>
</div>
