@inherits MainLayoutComponent

<div class="app-main">
    <NavBar Name=@State.Authentication.Name IsAuthenticated=@State.Authentication.IsAuthenticated />
    <div class="app-content">
        @Body
    </div>
</div>
