@inherits MainLayoutBase
@using RiftDrive.Client.Pages.Components

<div>
    <NavBar User=@State.Authentication.User IsAuthenticated=@State.Authentication.IsAuthenticated />
    <div>
        @Body
    </div>
</div>
