@page "/auth/validate"
@inherits ValidatePageBase

    <div class="container fadein-content">
        <div class="row">
            <div class="col-sm">
                <h4>Signing In</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h5>Please hang on...</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @(Progress)%"></div>
                </div>
            </div>
        </div>
        @foreach (var message in Messages)
        {
            <div class="row">
                <div class="col-sm">
                    <span>@message</span>
                </div>
            </div>
        }
    </div>
