@page "/game/{GameId}/view"
@inherits GameViewPageBase
@layout MainLayout
@using RiftDrive.Client.Pages.PlayPages.Components

@if (State.CurrentGame.Game == default)
{
    <span>Loading...</span>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <MothershipSummary Mothership=@State.CurrentGame.Mothership></MothershipSummary>
                @if (State.CurrentMission.Mission  == default) {
                <MothershipModuleSummary Game=@State.CurrentGame.Game Modules=@State.CurrentGame.Modules></MothershipModuleSummary>
                    @foreach (string log in State.CurrentGame.ActionLog)
                    {
                        <div>@log</div>
                    } 
                } else {
                <MissionSummary Mission=@State.CurrentMission.Mission></MissionSummary>
                }
            </div>
            <div class="col-sm">
                <CrewSummary Crew=@State.CurrentGame.Crew></CrewSummary>
            </div>
        </div>
    </div>
}