@page "/game/view"
@page "/game/view/{GameId}"
@inherits GameViewPageBase
@layout MainLayout
@using RiftDrive.Client.Pages.PlayPages.Components

@if (Game == default)
{
    <span>Loading...</span>
}
else
{
    <Row>
        <Column>
            <MothershipSummary Mothership=@Mothership></MothershipSummary>
            <MothershipModuleSummary Game=@Game Modules=@Modules></MothershipModuleSummary>
        </Column>
        <Column>
            <CrewSummary Crew=@Crew></CrewSummary>
        </Column>
    </Row>
}