@page "/game/{GameId}/view"
@inherits GameViewPageBase
@layout MainLayout
@using RiftDrive.Client.Pages.PlayPages.Components

@if (State.CurrentGame.Game == default)
{
    <span>Loading...</span>
}
else
{
    <Row>
        <Column>
            <MothershipSummary Mothership=@State.CurrentGame.Mothership></MothershipSummary>
            <MothershipModuleSummary Game=@State.CurrentGame.Game Modules=@State.CurrentGame.Modules></MothershipModuleSummary>
            @foreach (string log in State.CurrentGame.ActionLog)
            {
                <div>@log</div>
            }
        </Column>
        <Column>
            <CrewSummary Crew=@State.CurrentGame.Crew></CrewSummary>
        </Column>
    </Row>
}