@page "/game/{GameId}/mission"
@inherits GameMissionPageBase
@layout MainLayout
@using RiftDrive.Shared.Model
@using RiftDrive.Client.Pages.PlayPages.Components

@if (State.CurrentMission.Mission == default)
{
    <div class="fadein-content">Loading...</div>
}
else
{
    @if (State.CurrentMission.Mission.Status == MissionStatus.SelectCrew)
    {
        <SelectCrew Game=@State.CurrentGame.Game Mission=@State.CurrentMission.Mission Crew=@State.CurrentGame.Crew></SelectCrew>
    }
    else if (State.CurrentMission.Mission.Status == MissionStatus.RaceEncounter)
    {
        <RaceEncounter Game=@State.CurrentGame.Game Mission=@State.CurrentMission.Mission Crew=@State.CurrentGame.Crew></RaceEncounter>
    }
}