@inherits GameSummaryPageBase
@layout MainLayout
@page "/game/summary"

@if (State.GamePlay.Game == default)
{
    <span>Loading...</span>
}
else
{
    <GamePlayersSummary Game=@State.GamePlay.Game Players=@State.GamePlay.Players></GamePlayersSummary>

    @if (State.GamePlay.Game.State == Shared.GameState.WaitingForPlayers)
    {
        <SimpleButton Clicked=@StartGame>Start Game</SimpleButton>
    }

    @if (State.GamePlay.Game.State == Shared.GameState.Active)
    {
        <SimpleButton Clicked=@PlayGame>Play Game</SimpleButton>
    }
}
