@page "/user/profile"
@page "/user/profile/{UserId}"
@inherits ProfilePageBase
@layout MainLayout

@if (State.Administration.Profile == default)
{
    <div class="fadein-content">Loading ...</div>
}
else
{
    <div class="container fadein-content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="2">
                        @State.Administration.Profile.Name
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        @if (!string.IsNullOrWhiteSpace(State.Administration.Profile.AvatarUrl))
                        {
                            <img src=@State.Administration.Profile.AvatarUrl />
                        }
                    </td>
                </tr>
                <tr>
                    <td>User Id:</td>
                    <td>@State.Administration.Profile.Id.Value</td>
                </tr>
                <tr>
                    <td>Last Login:</td>
                    <td>@FormatDate(State.Administration.Profile.LastLogin)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @if (IsTheAuthenticatedUser)
                        {
                            if (ChangingAvatar)
                            {
                                <input type="file" @onchange="UploadFile" ref="FileUploadRef" />
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" @onclick="ChangeAvatarClicked">Change Avatar</button>
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
