@page "/game/view"
@inherits GameViewComponent
@layout MainLayout

@if (State.GamePlay.Game == default)
{
    <span>Loading...</span>
}
else
{
    <Row>
        <Column>
            <MothershipSummary Game=@State.GamePlay.Game></MothershipSummary>
        </Column>
        <Column>
            <CrewSummary Game=@State.GamePlay.Game></CrewSummary>
        </Column>
    </Row>
}