@inherits GameSummaryComponent
@layout MainLayout
@page "/game/summary"

@if (Game == default)
{
    <span>Loading...</span>
}
else
{
    <GamePlayersSummary Game=@Game></GamePlayersSummary>

    @if (Game.State == Shared.GameState.WaitingForPlayers)
    {
        <SimpleButton Clicked=@StartGame>Start Game</SimpleButton>
    }

    @if (Game.State == Shared.GameState.Active)
    {
        <SimpleButton Clicked=@PlayGame>Play Game</SimpleButton>
    }
}
