@page "/game/view"
@inherits GameViewComponent
@layout MainLayout

@if (State.GamePlay.Game == default)
{
    <span>Loading...</span>
}
else
{
    <Row>
        <Column>
            @if (State.GamePlay.Mothership == default)
            {
                <span>Loading...</span>
            }
            else
            {
                <MothershipSummary Game=@State.GamePlay.Game Mothership=@State.GamePlay.Mothership Modules=@State.GamePlay.Modules></MothershipSummary>
            }
        </Column>
        <Column>
            @if (State.GamePlay.Crew == default)
            {
                <span>Loading...</span>
            }
            else
            {
                <CrewSummary Crew=@State.GamePlay.Crew></CrewSummary>
            }
        </Column>
    </Row>
}