@page "/game/view"
@inherits GameViewComponent
@layout MainLayout

@if (Game == default)
{
    <span>Loading...</span>
}
else
{
    <Row>
        <Column>
            <MothershipSummary Game=@Game></MothershipSummary>

        </Column>
        <Column>
            <CrewSummary Game=@Game></CrewSummary>
        </Column>
    </Row>
}